body{
	margin:1%;
	padding:1%;
	font-size:150%;
	background-color: white;
}

h1{
	font-size: 70px; 
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: rgb(165, 73, 165); 
	line-height: 3;
}

h2{
	font-size: 50px;
	line-height: 3;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color:rgb(255, 71, 101);
}

h3{
	font-size: 37px;
	line-height: 3;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color:rgb(255, 71, 101);
}

h4{
	font-size: 27px;
	line-height: 2px;
	font-family: 'Lato', sans-serif;
	color:rgb(165, 73, 165);
}

.skip{
	position: relative;
	text-decoration: none;
  	top: -70px;
	color: white;
	margin: auto;
}

.skip:focus{
	top: 0px;
	color: black;
}

p{
	font-family: 'Lato', sans-serif; 
	line-height: 3;
	color: black;
	padding: 15px;
}

img{
	width: 200px;
	padding: 10;
	margin: 0 auto;
	border: solid 3px rgb(165, 73, 165);
}

.pill-nav{
	background-image: linear-gradient(rgb(165, 73, 165), rgb(244, 235, 245));
	text-decoration-style: none;
}

.pill-nav a{
	text-transform: lowercase;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	justify-content: space-between;
	align-items: center;
	font-size: 25px; 
	color: black;
	padding: 50px 25px; 
	border-radius: 2px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.pill-nav li{
	padding: 0 20px;
	display: inline-block;
}

.pill-nav a:hover{
	background-color: purple;
	color: white;
}

.pill-nav a.active{
	text-decoration:underline;
	border-radius: 2px;
	text-decoration-style: solid;
}

#changecolor{
	color:rgb(165, 73, 165);
	line-height: 1;
}

#heights{
	line-height:1;
}


#sisterhoodsquares{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: right;
}

.biglittle{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#deiimage{
	display: flex;
	justify-content: center;
	width: 500px;
}

.gamedays{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.mcbonding{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* flip card */ 
.flip-card{
	background-color: transparent;
	perspective: 600px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
  }
  
  /* horizontal flip  */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Positioning */
  .flip-card-front, .flip-card-back {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: transparent;
	color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
	background-color: transparent;
	color: white;
	transform: rotateY(180deg);
  }


.flip-card:focus{
	transform: rotateY(180deg)
}

.link{
	color: black;
}
/* form style */ 
form{
	box-sizing: border-box;
	display: inline-block;
	color: white;
	font-family: 'Lato', sans-serif;
	font-style:italic;
}

input[type=name], select, textarea{
	width:100%;
	padding: 15px;
	border: 2px solid rgb(165, 73, 165);
	border-radius: 2px;
	resize: vertical;
}

input[type=email], select, textarea{
	width:100%;
	padding: 15px;
	border: 2px solid rgb(165, 73, 165);
	border-radius: 2px;
	resize: vertical;
}

input[type=message], select, textarea{
	width:100%;
	padding: 15px;
	border: 2px solid rgb(165, 73, 165);
	border-radius: 2px;
	resize: vertical;
}

label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit]{
	background-color:rgb(165, 73, 165);
	color: white;
	padding: 12px 20px;
	border-radius: 3px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: gray;
}

.container {
	border-radius: 5px;
	background-color: rgb(165, 73, 165);
	padding: 20px;
  }
  
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .col-75 {
	width: 75%;
	margin-top: 6px;
  }


.parallax{
	background-image: url(../images/parallaxpichouse.png);
	min-height: 400px;
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

footer{
	padding: 15px 0;
	line-height: 2;
}

footer p{
	color:rgb(87, 1, 87);
	font-size: 18px;
	display: flex;
	justify-content: center;
}

.fa-brands{
	animation: move 3s ease;
}

/* grid for mobile */ 

.philimages, #container, #philintroimage{
	display: grid;
	padding: 15px;
	align-items: center;
	justify-items: center;
	text-align: center;
	grid-template-columns: 1fr;
}

.container_{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	background-image: url(../images/photogal2.png);
	/*opacity: 0.5;*/
	object-fit: cover;
	object-position: center;
}

/*tablet view */ 

@media screen and (min-width: 600px){
	.philimages, #container, #philintroimage{
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		align-items: center;
		row-gap: 10px;
	}

	/* grid photo gallery on home*/ 
	.container_ {
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    	grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
		row-gap: 10px;
 	}

}

/* laptop and bigger view */ 

@media screen and (min-width: 1000px){
	.philimages, #container, #philintroimage{
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr;
		align-items: center;
		justify-items: center;
		row-gap: 20px;
	}

	.container_ {
    	display: grid;
    	grid-template-columns: 1fr 1fr 1fr 1fr;
    	grid-template-rows: 2fr 2fr 2fr;
		align-items: center;
		justify-items: center;
		row-gap: 20px;
 	}

} 	
/* dark mode and button styling */ 
.button{
	color:rgb(165, 73, 165);
	border: 1px solid;
	background-color: white;
	font-size: 16px;
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-style: italic;

}
.dark-mode{
	background-color: black;
}
.dark-mode p{
	color:white;
}
.dark-mode h1{
	color: white;
}
.dark-mode #heights{
	color: white;
}
.dark-mode .link{
	color: white;
}

.dark-mode .skip:focus{
	color: white;

}

@keyframes move{
	from {width: 20px; opacity:0; color: black;}
		to {width: 20px; opacity:1; color: white;}
}

@media screen and (prefers-reduced-motion: reduce){
	.fa-brands{
		animation:none;
	}

	.parallax{
		background-attachment: scroll;
	}

	.flip-card:hover, .flip-card-inner{
		transform:none;
	}
}


